@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
  font-family: Nunito;
  /* width: 100%; */
  /* position: absolute; */
  overflow-x: hidden;
  background-color: rgb(54, 1, 138);
}

@keyframes highlight {
  15% {
    background: linear-gradient(
      81deg,
      rgba(124, 95, 130, 0) 19%,
      rgb(255, 219, 245) 35%,
      rgba(195, 172, 200, 0) 43%
    );
  }
  90% {
    background: linear-gradient(
      81deg,
      rgba(124, 95, 130, 0) 50%,
      rgb(255, 219, 245) 63%,
      rgba(195, 172, 200, 0) 73%
    );
  }
  91% {
    background: linear-gradient(
      81deg,
      rgba(124, 95, 130, 0) 74%,
      rgb(255, 219, 245) 90%,
      rgba(195, 172, 200, 0) 100%
    );
  }
  100% {
    background: linear-gradient(
      81deg,
      rgba(124, 95, 130, 0) 74%,
      rgb(255, 219, 245) 88%,
      rgba(195, 172, 200, 0) 100%
    );
  }
}

nav {
  border: solid 1px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(2px);
  background-color: rgba(76, 58, 99, 0.368);
  position: fixed;
  top: 0;
  left: 0;
  font-weight: 600;
  z-index: 10;
  animation: highlight auto linear;
  animation-timeline: scroll();
}
nav a {
  font-size: 0.6rem;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

nav a img {
  width: 2rem;
  animation: rotate auto linear;
  animation-timeline: scroll();
}

.head {
  /* border: solid; */
  height: 100%;
  /* width: 100%; */
  background-image: url(celulasimages/background3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  margin-top: 9vw;
  /* margin-left: -2vw; */
}

.head h1 {
  width: 60vw;
  backdrop-filter: blur(5px);
  background-color: rgba(15, 2, 24, 0.622);
  padding: 2vw 1vw;
  text-align: center;
  font-family: Montserrat;

  border-radius: 5px;
  font-size: 2.7vw;

  color: rgb(255, 255, 255);
}

.strong {
  font-weight: 900;
}

.reel {
  overflow: hidden;
  white-space: nowrap;
  /* width: 55vw; */
  width: 100%;
  height: auto;
  margin: 2vw;
  margin-right: 0vw;
  padding: 0;
  /* border: solid; */
}

.reel section {
  display: inline-block;
  margin: 0vw 2vw;
}

.reel img {
  width: auto;
  height: 48vw;
  border: solid 2px;
  border-radius: 5px;
}

.socialHead {
  position: relative;
  text-align: right;
  background: rgba(124, 95, 130, 0.386);
  /* margin: 0vw -2vw; */
}

.hiddenLink {
  position: absolute;
  left: -5vw;
  top: -5vw;
  height: 7vw;
  width: 10vw;
}

.socialHead a {
  margin: 5vw;
  padding: 0vw 2vw;
  font-size: 6vw;
  color: white;
  transition: all 0.3s ease-out;
}

.whatsapp-section {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 1000; /* Ensure it's above other content */
}

.whatsapp-section a {
  display: block;

  padding: 2vw;
  background-color: rgb(208, 177, 254);
  color: rgb(29, 3, 27);
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s ease-out;
}

.whatsapp-section a i {
  /* height: 5vw; */
  font-size: 2rem;
}

.tratamientosDiv {
  padding: 3vw 3vw;
  /* background-image: url(celulasimages/background.jpg);
   background-position: center;
  background-size: contain;
  background-attachment: fixed;  */
  background-color: #1fa3df;
  background-color: #1a51af;

  color: rgb(0, 0, 0);
  margin: 0;
}

.tratamientosDiv h3,
.subHeadTratamientos,
.capacitacionesDiv h3,
.subHeadCapacitaciones {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.973);
  padding: 2vw;
  border-radius: 5px;
}

.capacitacionesDiv {
  padding: 3vw 3vw;
  /* background-image: url(celulasimages/background2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */
  background-color: #057963;
  color: rgb(0, 0, 0);

  margin: 0;
}

.generatedSection {
  border-radius: 5px;
  backdrop-filter: blur(5px);
  background-color: rgba(246, 239, 255, 0.555);
  margin: 5vw 1vw;
  padding: 1vw 3vw;
  transition: all 0.2s ease-in-out;
  border-radius: 1vw;
}

.generatedSection summary {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.generatedSection p {
  border-top: solid 1px;
  padding: 2vw;
  border-radius: 5px;
}

.generatedSection img {
  width: 60vw;
  border-radius: 5px;
  height: auto;
  margin-left: 15vw;
  /* position: relative; */
}

.splitImg {
  padding: 5vw;
  display: flex;
  text-align: center;
  align-items: end;
  height: 70vw;
  background-image: url(celulasimages/logotablet.jpg);
  color: rgb(207, 142, 218);
  background-position: center;
  background-size: cover;
  font-family: Montserrat;
}

.contactoDiv {
  /* background-color: blueviolet; */
  color: white;
  padding: 10vw 3vw;
  margin-bottom: 4vw;

  font-family: Montserrat;

  text-align: center;
  background: linear-gradient(
    81deg,
    rgb(104, 68, 162) 27%,
    rgb(60, 19, 69) 71%
  );
}

form {
  /* height: 50vw; */
  padding: 2vw;
  font-family: Roboto;
  /* text-align: center; */
  border: solid 1px;
  border-radius: 1.5vw;
  background-color: #057963;
}

form section span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vw;
}

form label {
  font-size: 3vw;
}

form input {
  margin: 2vw 1vw;
  padding: 0.5vw;
  width: 50vw;
  border-radius: 1.5vw;
  border: none;
  color: antiquewhite;
  box-shadow: 0.5vw 0.5vw 1vw rgba(40, 5, 68, 0.1),
    -0.5vw -0.5vw 1vw rgba(255, 255, 255, 0.274);

  /* height: 5vw; */
}

form textarea {
  height: 10vw;
  width: 100%;
  border-radius: 1.5vw;
  color: antiquewhite;
  padding: 0.5vw;
  border: none;
  font-size: 1rem;
  box-shadow: 0.3vw 0.3vw 0.6vw rgba(40, 5, 68, 0.322),
    -0.3vw -0.3vw 0.8vw rgba(255, 255, 255, 0.274);
}

form select {
  font-size: 3vw;
  margin: 1vw;
  background-color: #f075a636;
  border-radius: 1.5vw;
  color: #8f456436;
  padding: 0.5vw;
}

form button {
  background-color: #acd4c9;
  font-size: 5vw;
  border-radius: 5px;
  color: #174670;
  border-radius: 1vw;
}
.contactoDiv h3 {
  background-color: #174670;
}

.contactoDiv a {
  text-decoration: none;
}
.contactoDiv a i {
  text-decoration: none;
  background-color: white;
}
.contact-info {
  background-color: #174670;
}
.emailink {
  color: white;
}
.contact-info h4 a:hover {
  scale: 1.1;
}

footer {
  background-image: url(celulasimages/footerBackground.jpg);
  background-position: center;
  width: 100%;
  padding: 10rem 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

footer h4 {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.193);
  translate: 0 35vw;
}

/* hover animations*/

.whatsapp-section a:hover {
  scale: 1.1;
  color: white;
  background-color: green;
}

nav a:hover {
  scale: 1.15;
  color: rgb(206, 165, 246);
  filter: saturate(2);
  border-left: solid 1px;
  border-right: solid 1px;
}

.socialHead a:hover {
  background-color: rgb(212, 193, 222);
  color: rgb(27, 5, 49);
}

.generatedSection:hover {
  box-shadow: 1vw 0.5vw rgba(21, 4, 26, 0.514);
  filter: saturate(1.5);
  scale: 1.05;
  border: solid 5px whitesmoke;
}

.whatsappFoot:hover {
  color: white;
  background-color: green;
}

.facebookFoot:hover {
  color: white;
  background-color: blue;
}

.instagramFoot:hover {
  color: white;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

button:hover {
  scale: 1.2;
}
textarea:focus::placeholder {
  font-size: 1vw;
  transform: translateY(-0.5vw);
  color: white;
}
input:focus::placeholder {
  font-size: 1vw;
  transform: translateY(-1vw);
  color: white;
}

.emailink:hover {
  color: lightblue;
}

/* Medium devices (landscape tablets, 768px and up) -----------------------*/
@media only screen and (min-width: 768px) {
  .head {
    font-size: larger;
  }

  .capacitacionesDiv h3,
  .tratamientosDiv h3 {
    font-size: 2rem;
  }

  .capacitacionesDiv p,
  .tratamientosDiv p {
    font-size: 1.5rem;
  }

  .generatedSection summary {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .head {
    margin-top: 4vw;
    /* border: solid; */
  }

  nav a {
    font-size: 1rem;
  }

  nav a img {
    width: 1.8rem;
  }

  .reel img {
    height: 50vw;
  }

  .hiddenLink {
    width: 1vw;
    height: 2vw;
  }

  .generatedSection img {
    width: 50vw;
  }

  .splitImg {
    height: 52vw;
  }
  .splitImg p {
    font-size: 1.4rem;
    margin: 0;
  }

  form label {
    font-size: 3vw;
    margin: 0vw 2vw;
  }

  form input {
    margin: 1vw 0vw;
    font-size: 1rem;
    box-shadow: 0.3vw 0.3vw 0.6vw rgba(40, 5, 68, 0.322),
      -0.3vw -0.3vw 0.8vw rgba(255, 255, 255, 0.274);
  }

  form textarea::placeholder {
    font-size: 0.9rem;
    transform: all 0.3s ease-out;
  }

  form select {
    font-size: 2vw;
    color: aliceblue;
  }

  form textarea {
    font-size: 3rem;
    height: 5vw;
    box-shadow: 0.3vw 0.3vw 0.6vw rgba(40, 5, 68, 0.322),
      -0.3vw -0.3vw 0.8vw rgba(255, 255, 255, 0.274);
  }

  form button {
    cursor: pointer;
    font-size: 2vw;
  }

  .contactoDiv {
    padding: 3rem 0rem;
  }

  .contactoDiv h3 {
    font-size: 3rem;
    background-color: #174670;
  }

  .contact-info {
    font-size: 2.5rem;
    line-height: 4vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) -----------------------------*/
@media only screen and (min-width: 992px) {
  .head h6 {
    font-size: 2rem;
  }

  .whatsapp-section a i {
    /* height: 5vw; */
    font-size: 4rem;
  }

  @keyframes highlight {
    15% {
      background: linear-gradient(
        81deg,
        rgba(124, 95, 130, 0) 19%,
        rgb(255, 219, 245) 35%,
        rgba(195, 172, 200, 0) 43%
      );
    }
    80% {
      background: linear-gradient(
        81deg,
        rgba(124, 95, 130, 0) 50%,
        rgb(194, 1, 59) 63%,
        rgba(195, 172, 200, 0) 73%
      );
    }
    81% {
      background: linear-gradient(
        81deg,
        rgba(124, 95, 130, 0) 74%,
        rgb(0, 0, 0) 90%,
        rgba(195, 172, 200, 0) 100%
      );
    }
    100% {
      background: linear-gradient(
        81deg,
        rgba(124, 95, 130, 0) 74%,
        rgb(255, 219, 245) 90%,
        rgba(195, 172, 200, 0) 100%
      );
    }
  }

  nav a img {
    width: 4vw;
  }

  nav a {
    font-size: 1.5rem;
  }

  .tratamientoItemDiv,
  .capacitacionItemDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px; /* Adjust the value as needed */
  }

  .capacitacionesDiv h3,
  .tratamientosDiv h3 {
    font-size: 2rem;
    margin: 0;
  }

  .capacitacionesDiv p,
  .tratamientosDiv p {
    margin: 0;
    padding: 1vw;
    font-size: 1.5rem;
  }

  .capacitacionItemDiv img {
    width: 10vw;
    border: whitesmoke solid;
  }
  .reel img {
    height: 35vw;
  }

  .generatedSection {
    width: 35vw;
    margin: 1.5vw;
  }
  .generatedSection summary {
    font-size: 1.5rem;
  }
  .generatedSection p {
    font-size: 1.4rem;
  }
  .generatedSection img {
    width: 30vw;
    margin-left: 2vw;
  }

  .capacitacionItemDiv img {
    width: 25vw;
    border: whitesmoke solid;
  }

  .hover-message {
    font-family: Montserrat;
    font-size: 1vw;
  }

  .splitImg {
    height: 37vw;
    font-size: 3rem;
    align-items: last baseline;
  }

  .splitImg {
    background-position: 0vw -12vw;
    padding-left: 10vw;
  }

  .contactoDiv {
    font-size: 4rem;
  }

  form {
    /* height: 50vw; */
    margin: 1vw;
    padding: 0vw 10vw;
    font-family: Roboto;
    /* text-align: center; */
    border: solid 1px;
  }

  form section span {
    display: flex;
    align-items: center;
  }

  form label {
    font-size: 3vw;
    margin: 0;
  }

  form input {
    margin: 2vw 1vw;
    width: 50vw;
    height: 3vw;
    font-size: 1.5rem;
  }

  form input::placeholder,
  form textarea::placeholder {
    font-size: 1.8rem;
  }

  form button {
    cursor: pointer;
    font-size: 3vw;
    margin: 2vw;
  }

  .socialHead a {
    font-size: 3vw;
  }

  form label {
    font-size: 2vw;
  }

  footer h4 {
    translate: 0 15vw;
  }
}
